
   body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .card {
    background: #fff;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.1);
    width: 500px;
  }
  
  .card h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  
  .box {
    padding: 20px;
    border: 3px solid #059738;
    border-radius: 12px;
    transition: all 0.3s ease;
    cursor: pointer;
    background-color: #fafafa;
  }
  
  .box:hover {
    border-color: #0d3502;
  }
  
  .box p {
    margin: 0 0 10px;
    font-weight: bold;
  }
  
  .controls {
    display: none;
    margin-top: 10px;
  }
  
  .box.expanded .controls {
    display: block;
  }
  
  select {
    margin-left: 10px;
    padding: 5px;
    margin-top: 5px;
  }
  
  .box label {
    display: block;
    margin-bottom: 10px;
    font-weight: normal;
    color: #444;
  }
  
  .box-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .discount {
    font-weight: bold;
    color: green;
  }
  
  .dis {
    font-weight: bold;
    color: black;
  }
  
  .add-to-cart {
    background-color: #4caf50;
    color: white;
    border: none;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
    font-weight: bold;
  }
  
  .add-to-cart:hover {
    background-color: #388e3c;
    transform: scale(1.03);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  